body, html{
    background-image: url("https://i.ibb.co/BBT5xHs/galaxia.jpg");
    background-size: cover ;
    margin:0px;  
    height:100%; 
    width: 100%; 
}
/* font-family: 'Andika', sans-serif; P
font-family: 'Coda', cursive; H1
font-family: 'Montserrat Alternates', sans-serif; H2 */
.icono{
    font-size: 24px;
}
.navbar-brand{
    color: deepskyblue;
}

.masthead{
    
    background-size: cover;
    color: White;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}
.color-overlay{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    text-align: center;
}
.color-overlay h1{
    font-family: 'Coda', cursive;
    font-weight: bold;
    font-size: 1fr;

}
.color-overlay h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
}

.cont-img{
    position: relative;
    top: -50px;
    z-index: 99;
}

.separador{
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
    justify-content: center;
    height: 1px;
    max-width: 5em;
    background-color: white;
    opacity: 1;
}
.navbar{
    max-height: 85px;
    width: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
}
.navbar-text{
    position: relative;
    top: 5px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center ;
}

.cuadrado{
    height: 200px;
    margin: 5px;
    background-color:beige;
    border: 1px solid black;
}